.login {
  padding: 10% 10% 10% 10%;
}

label {
  color: white !important
}

input {
  background-color: #5141ea;
}


.form_padding {
  padding-right: 0%;
}

@media (min-width: 768px) {
  .form_padding {
    padding-right: 50%;
  }
}